[user]
	name = {{username}}
	email = {{email}}
[core]
	editor = code --wait
[advice]
	detachedhead = false
[commit]
	gpgsign = true
[alias]
   l = log --pretty=format:\"%h - %an, %ar : %s\" --decorate
